/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Dangrek', sans-serif;
    background-color: black;
}

/* Estilos para o contêiner principal */
.container {
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    animation: fadeIn 3s ease-out forwards;
    opacity: 1;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.hidden{
    transform: translateY(-100%);
    opacity: 0;
}

@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-14%);
    }
    100%{
        transform: translateY(0);
    }
}



#play-btn {
    position: fixed;
    top: 1rem;      
    left: 1rem;      
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
  }
  #play-btn svg {
    width: 32px;
    height: 32px;
    fill: #ffffff;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  #play-btn:hover svg {
    fill: #5d00b9;
    transform: scale(1.2);


  }

  @keyframes buzz {
    0%   { transform: translate(0, 0) rotate(0deg); }
    10%  { transform: translate(-3px, -3px) rotate(-2deg); }
    20%  { transform: translate(3px, 3px) rotate(3deg); }
    30%  { transform: translate(-2px, 2px) rotate(-2deg); }
    40%  { transform: translate(2px, -2px) rotate(2deg); }
    50%  { transform: translate(-2px, -2px) rotate(-3deg); }
    60%  { transform: translate(2px, 2px) rotate(2deg); }
    70%  { transform: translate(-3px, 3px) rotate(-2deg); }
    80%  { transform: translate(2px, -2px) rotate(3deg); }
    90%  { transform: translate(-3px, -3px) rotate(-2deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }
  
  
.profile-picture {
    width: 120px;
    height: 120px;
    margin-top: 2vh;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
animation: pulseGlow 2s infinite alternate,
buzz 0.5s ease;
animation-delay: 3s;
animation-fill-mode: both;


    cursor: pointer;
}

.profile-expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1000;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.revolut{
    position: fixed;
    top: 1rem;      
    left: 1rem;      
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;

}
.revolut i{
    width: 32px;
    height: 32px;
    fill: #ffffff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.revolut i:hover{
    transform: scale(1.1);
}

/* Hover effect on profile picture */
.profile-picture:hover {
    transform: scale(1.5);
    box-shadow: 0 0 30px rgba(107, 1, 213, 0.8);
}


.download-section {
top: 78vh;
 background-image: url(black.jpg);
    position: relative;
    text-align: center;
    padding: 4%;
    background-color: #222;
    color: #fff;
    border-radius: 3%;
    margin: 10% auto;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.download-section h2{
    margin-top: 10%;
margin-bottom: 3%;
animation: pulseGlow 2s infinite alternate,

}
.download-section h3{
    margin-top: 3%;
    margin-bottom: 3%;
}

.download-section h5{
    margin-top: 1%;
    margin-bottom: 1%;
}

.download-section h4{
    margin-top: 2%;

}

.download-section p{
    max-width: 65%;
text-align: center;
margin: 0 auto;
}


.download-button {
    display: inline-block;
    padding: 2% 3%;
    background-color: #392342;
    color: white;
    text-decoration: none;
    border-radius: 8%;
    margin-top: 5%;
}

.download-button:hover {
    background-color: #15905a;
}


/* Estilos para o vídeo de fundo */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: -1;
    transition: opacity 0.5s ease-out;
}

/* Estilos para o conteúdo */
.content-box {
    position: fixed;  /* Tornar a posição fixa em relação à tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Manter a centralização */
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
    max-width: 90%;
    width: 600px;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    z-index: 10; /* Certificar que a content-box fique em cima dos outros elementos */
}


/* Estilos para o título */
.content-box h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

/* Estilos para o texto */
.content-box p {
    font-size: 1.3rem;
    line-height: 1.6;
}

/* Estilos para os links com ícones */
.links-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.link-item {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.link-item i {
    display: inline-block;
    color: white;
}

.link-item:hover {
    transform: scale(1.2);
    color: #6b01d5;
}


.separator {
    width: 100%;
    height: 100vh; /* Make the separator full screen */
    background: url(separador.png) center center;
    background-size: cover;
    background-attachment: fixed; /* Parallax effect */
    position: relative; /* Relative positioning for stacking order */
    top: 0; /* Align at the top */
    z-index: -1; /* Ensure it's above the video but behind the panels */
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1; /* Ensure the panels are above the separator */
}

/* For panel content */
.panel img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.panel-content {
    text-align: left;
}

.panel h2 {
    margin: 0;
    font-size: 24px;
}

.panel p {
    font-size: 16px;
    margin: 10px 0;
}

.panel a {
    display: inline-block;
    padding: 10px 20px;
    background: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.panel a:hover {
    background: #7d03b6;
}



 .clickable-image {
            position: absolute;
            top: 73vh;
            left: 49%;
           height: auto;
           cursor: pointer;
           width: 10vw;
           max-height: fit-content;
           max-width: 330px;
           z-index: 10;
            transform: translate(-50%, -50%);
        }
        .image-container {
            position: relative;
            top: 100vh;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: fill;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: bounce 1.2s ease ;
            animation-delay: 1s;
            border-radius: 3%;
            transition: transform 0.5s ease-out;
        }

        .image-container img {
            width: 100%; /* Mantém a imagem dentro do container */
            height: 100%; /* Mantém a altura dentro do container */
            object-fit: cover;
            border-radius: 3%;
            
        }



@media (max-width: 768px) {
    .content-box {
        width: 80%;
        padding: 15px;
    }
 
    .content-box h1 {
        font-size: 1.8rem;
    }

    .content-box p {
        font-size: 0.9rem;
    }

    .link-item {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    .content-box {
        width: 90%;
        padding: 10px;
    }
   

    .content-box h1 {
        font-size: 1.6rem;
    }

    .content-box p {
        font-size: 0.85rem;
    }

    .link-item {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) { 
        #play-btn {
        top: 2rem;
        left: 2rem;
    }
}

@media (max-width: 390px) {
    .clickable-image{
        max-width: 150px;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.85);
    }
    100% {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    }
}